.card {
  height: min-content;
  width: min-content;
  padding-bottom: 0.6rem;
  box-shadow: -2px 2px 25px rgba(0, 0, 0, 0.05);
  animation: slideup 1s;
  margin: 1rem 2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 300;
}

@keyframes slideup {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
