.subsection {
  margin: 0.5rem 0;
}

.subsection button {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

.subsection p {
  font-size: var(--fs-800);
  font-weight: 300;
}

.show {
  display: block;
}

.hide {
  display: none;
}
