.section {
  margin-bottom: 5rem;
}

.image {
  display: flex;
  justify-content: center;
}

.img {
  margin: 3rem auto;
  width: 100%;
}

@media only screen and (min-width: 1280px) {
  .img {
    max-height: 30rem;
    width: initial;
  }
}
