.image {
  width: 100%;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.divider {
  border-right: 1px solid black;
}

.hr {
  width: 95%;
  color: var(--clr-hr);
}

.actions {
  display: flex;
  justify-content: space-around;
}

.ingredients ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

.ingredients li {
  margin: 0.5rem;
}

.ingredients::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}

.ingredients::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  border-radius: 1000px;
}
