.button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  width: min-content;
}

.button:hover {
  filter: invert(33%) sepia(99%) saturate(1494%) hue-rotate(96deg)
    brightness(102%) contrast(88%);
  transform: scale(1.5);
}

.button img {
  height: 2rem;
  display: inline;
  vertical-align: middle;
  margin-right: 0.5rem;
  transition: 0.15s;
}
