.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: var(--fs-800);
  margin: 0.8rem 0;
}

.link:hover,
.active {
  filter: brightness(0) saturate(100%) invert(51%) sepia(87%) saturate(5977%)
    hue-rotate(104deg) brightness(107%) contrast(88%);
}

.link p {
  display: none;
  margin-left: 1rem;
}

.link img {
  width: 3.5rem;
}

.show > p {
  display: block;
}
