.navigation {
  display: flex;
  height: 100%;
  width: max-content;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  padding: 1rem;
  grid-area: navigation;
}

.navigation nav {
  margin-bottom: 1rem;
}
