.label {
  display: block;
  color: var(--clr-primary);
  text-align: left;
}

.input {
  margin: 1rem 0 2rem 0;
  border: 0;
  border-bottom: 1px solid var(--clr-primary);
  outline: none;
  width: 100%;
  padding: 0.2rem 0;
  font-size: var(--fs-body);
}

.invalid {
  color: var(--clr-error);
  border-color: var(--clr-error);
}
