.form {
  display: flex;
  flex-direction: column;
}

.form button {
  color: var(--clr-light);
  background-color: var(--clr-primary);
  border: none;
  cursor: pointer;
  border-radius: 50px;
  width: fit-content;
  padding: 1rem 2rem;
  margin: 1rem auto;
  font-size: var(--fs-800);
}

.errors {
  color: #ca3e51;
}
