.button {
  position: relative;
  padding: 0;
}

.button img {
  height: 2.5rem;
}

.button p {
  position: absolute;
  object-position: left;
  top: 130%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: max-content;
  background: var(--clr-hr);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  padding: 0.25rem 1rem;
  border-radius: 1000px;
  background: var(--clr-primary);
  z-index: 10;
  color: white;
}

.button img:hover {
  filter: invert(33%) sepia(99%) saturate(1494%) hue-rotate(96deg) brightness(102%) contrast(88%);
  transform: scale(1.5);
  transition: 0.15s;
}
