.wrapper {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: min-content auto;
  grid-template-areas:
    'header header'
    'navigation content';
  height: 100%;
  width: 100%;
}

#root {
  height: 100vh;
}
