.wrapper {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: min-content auto;
  grid-template-areas:
    'header header'
    'navigation content';
  height: 100%;
  width: 100%;
}

#root {
  height: 100vh;
}

.main {
  display: grid;
  margin: 1rem 2rem;
  grid-area: content;
  max-height: 100%;
  min-height: 0;
}

.dashboard {
  grid-template-rows: min-content auto auto;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'welcome welcome'
    'next-meal nutrition'
    'coming-up coming-up';
}

.results {
  grid-template-columns: 1fr 4.5fr;
  margin: 0;
}

.recipe {
  grid-template-columns: 1fr 1fr 1fr;
}
