.results {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  margin: 0;
}

.list {
  display: flex;
  flex-flow: wrap row;
  padding: 2rem 0;
  justify-content: center;
  gap: 3rem;
  overflow-y: scroll;
  max-height: 91vh;
}
