.wrapper {
  grid-area: options;
  height: min-content;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1.5rem 3rem;
}

.options * {
  height: min-content;
  text-decoration: none;
  color: var(--clr-grey);
  font-size: var(--fs-subheading);
}

.options .active {
  color: black;
}

.options .active span {
  color: var(--clr-primary);
}

@media screen and (max-width: 1500px) {
  .options a,
  .options button,
  .options button * {
    font-size: var(--fs-body);
  }
}
