.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1rem;
  max-width: 30rem;
}

.today {
  font-size: var(--fs-title);
  line-height: 1;
}

.heading {
  color: white;
  font-size: var(--fs-heading);
  text-decoration: underline;
  margin: 1rem 0;
}

.notes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notes li {
  list-style: disc inside;
}

.green {
  color: var(--clr-primary);
}

.yellow {
  color: var(--clr-warning);
}

.red {
  color: var(--clr-error);
}
