.main {
  display: grid;
  overflow: hidden;
  grid-template-rows: min-content auto;
}

.day {
  grid-template-areas:
    'sidebar options'
    'sidebar mealplan';
  grid-template-columns: 1fr 4fr;
}

.week {
  grid-template-areas:
    'options'
    'mealplan';
}

.no-response {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
