.day {
  display: grid;
  grid-template-rows: min-content repeat(3, 1fr);
  margin: 0 2rem;
  height: 100%;
  width: fit-content;
}

.day h2 {
  font-weight: 400;
  font-size: var(--fs-800);
  text-decoration: underline;
  margin-top: 1rem;
}

.day li {
  margin: 1.5rem 0;
}
