.day {
  display: grid;
  grid-template-rows: min-content repeat(3, 1fr);
  align-items: center;
  margin: 0 2rem;
  height: 100%;
  width: fit-content;
}

.day li {
  margin: 1.5rem 0;
}

.day h2 {
  font-size: var(--fs-subheading);
  font-weight: var(--fw-regular);
  text-decoration: underline;
  text-align: center;
  margin: 2rem 0;
}

.none {
  grid-template-rows: min-content 1fr;
}

.none p {
  margin: auto 1rem;
  text-align: center;
}
