.card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title h3 {
  font-weight: var(--fw-regular);
}

.title h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.divider {
  color: var(--clr-hr);
  margin: 0 1rem;
}

.macros {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin: 0.3rem 0;
}

.macros > p:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 0.75rem;
}

.actions {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem 1.5rem;
}

.actions > a {
  font-size: var(--fs-subbody);
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  align-self: center;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  font-size: var(--fs-subbody);
}

.info > p:last-child {
  color: var(--clr-primary);
}

.ingredients {
  max-height: 8rem;
  overflow-y: scroll;
}

.ingredients ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  align-items: center;
}

.ingredients li {
  margin: 0.25rem 0;
}

.none {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
