.options {
  grid-area: options;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1.5rem 3rem;
  height: min-content;
  border-bottom: 2px solid var(--clr-grey);
}

.options * {
  height: min-content;
  text-decoration: none;
  color: var(--clr-grey);
  font-size: var(--fs-800);
  border: none;
  background: none;
}

.options .active {
  color: black;
}

@media screen and (max-width: 1500px) {
  .options a,
  .options button,
  .options button * {
    font-size: var(--fs-600);
  }
}
