.paragraph {
  font-size: var(--fs-900);
  line-height: 1.4;
  font-weight: 100;
  text-align: center;
}

.cards {
  display: flex;
  flex-flow: wrap row;
  align-content: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

@media only screen and (min-width: 1280px) {
  .bronze {
    order: 1;
  }

  .silver {
    order: 3;
  }

  .gold {
    order: 2;
  }

  .silver,
  .bronze {
    transform: scale(0.9, 0.9);
  }

  .cards {
    gap: 5rem;
  }
}
