.options {
  padding: 1.5rem;
  border-bottom: 2px solid #909492;
}

.options a {
  margin-right: 5rem;
  text-decoration: none;
  color: #909492;
  font-size: var(--fs-800);
}

.options .active {
  color: black;
}
