.meal-info {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.meal-info img {
  width: 3rem;
  height: 3rem;
}

.meal-info p {
  margin: auto 0;
  padding-left: 0.5rem;
}

.stars {
  width: 9rem;
  height: 2rem;
}
