.wrapper {
  display: grid;
  grid-template-rows: min-content 93vh;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    'header header'
    'navigation content';
  height: 100%;
  width: 100%;
}
