.tabbar ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 2px solid var(--clr-primary);
}

.tabbar li {
  display: flex;
  justify-content: center;
  margin: 0 3rem;
  text-align: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.tabbar button {
  padding: 1rem 0;
  font-size: var(--fs-body);
}

.active {
  background-color: var(--clr-primary);
}

.active button {
  color: white;
}

.fade .text {
  animation: fadeFromLeft 0.75s;
}

.fade img {
  animation: fadeFromRight 0.75s;
}

.content {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}

.text {
  padding: 2rem;
  height: fit-content;
}

.content img {
  margin-top: 2rem;
  width: 100%;
  border-radius: 15px;
}

@keyframes fadeFromLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeFromRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
