.tab {
  padding: 0.75rem 0.5rem;
}

.tab button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.6rem 1.12rem;
  background-color: var(--clr-primary);
  border: none;
}

.tab button p {
  font-size: var(--fs-subheading);
  margin: 0;
}

.content {
  padding: 0 0.5rem;
  position: relative;
  overflow: clip;
  border: 1px solid var(--clr-primary);
}

.content h4 {
  margin: 1rem 0;
}

.show {
  transition: 0.4s ease;
  max-height: 20rem;
}

.hide {
  max-height: 0rem;
  transition: 0.4s ease;
}
