.navigation ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

@media only screen and (min-width: 1280px) {
  .navigation ul {
    height: 100%;
    align-items: center;
    gap: 1.5rem;
  }

  .navigation li {
    height: max-content;
  }

  .navigation a {
    color: white;
  }

  .signin {
    display: block;
  }
}
