.navigation ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.signin {
  display: none;
  background-color: var(--clr-primary);
  padding: 0.2rem 0.75rem;
}

@media only screen and (min-width: 1280px) {
  .navigation ul {
    height: 100%;
    align-items: center;
    gap: 4rem;
  }

  .navigation li {
    height: max-content;
  }

  .navigation a {
    color: white;
  }

  .signin {
    display: block;
  }
}
