main {
  display: grid;
  margin: 1rem 2rem;
  grid-area: content;
  height: 100%;
}

.dashboard {
  grid-template-rows: min-content 3fr minmax(0, 3fr);
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'welcome welcome'
    'next-meal nutrition'
    'coming-up coming-up';
}
